@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    font-family: Poppins;
    background-image: url('Img/homepagegif1.gif');
    /*background-size: cover;*/
    background-repeat: round;
}
svg{
    width: 30px;
}
a{
    text-decoration: none;
    color: white;
}
button{
    cursor: pointer;
}
.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    transition: 0.5s;
    color: #eee;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.icon-cart{
    position: relative;
    color: wheat;
}

.icon-cart span{
    background-color: red;
    position: absolute;
    top: 50%;
    right: -20px;
    width: 30px;
    height: 30px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: xx-large;
}

.cartTab{
    background-color: rgb(43, 43, 42);
    color: #eee;
    width: 400px;
    max-width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
}

.cartTab h1{
    margin-top: 50px !important;
}

.cartTab h1,#subTotal{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    height: 80px;
}
.cartTab .btn button.close{
    background-color: #eee;
}
.cartTab .listCart::-webkit-scrollbar{
    width: 0;
}
.cartTab{
    right: -400px;
    transition: 0.5s;
}
body.activeTabCart .cartTab{
    right: 0;
}
body.activeTabCart .container{
    transform: translateX(-250px);
}

.listProduct .item img{
    width: 90%;
    filter: drop-shadow(
        0 20px 20px #0009
    );
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
    color: #353432;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
    color: #353432;
}
.listProduct .item button{
    background-color: #353432;
    color:#eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.listCart .item .quantity{
    display: flex;
}
.listCart .item .quantity span{
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #000;
    border-radius: 50%;
    cursor: pointer;
}
.listCart .item .quantity span:nth-child(2){
    background-color: transparent;
    color: #fff;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
    margin-top: 55px;
}

.detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: left;
    color: #eee;
}
.detail .image img{
    width: 80%;
}
.detail .image{
    position: relative;
}
/*.detail .image::before{*/
/*    position: absolute;*/
/*    width: 300px;*/
/*    height: 300px;*/
/*    content: '';*/
/*    background-color: #eee;*/
/*    z-index: -1;*/
/*    border-radius: 190px 100px 170px 180px;*/
/*    left: calc(50% - 150px);*/
/*    top: 50px;*/
/*}*/
.detail .name{
    font-size: xxx-large;
    padding: 40px 0 0 0;
    margin: 0 0 10px 0;
}
.detail .price{
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 7px;
    margin-bottom: 20px;
}
.detail .buttons button{
    background-color: #eee;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: Poppins, serif;
    font-size: large;
}
.detail svg{
    width: 15px;
}
.detail .buttons button:nth-child(2){
    background-color: #E8BC0E;
    color: #0e0e0e;
    display: inline-flex;
    gap: 20px;
}
.detail .buttons svg{
    transform: translateY(5px);
}
.detail .description{
    font-weight: 300;
}

/* style.css */

/* Add styles for color buttons */
.color-buttons {
    display: flex;
    justify-content: left;
    margin-top: 20px;
}

.color-btn {
    padding: 5px 10px;
    margin: 0 10px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#subTotal, #btnClear {
    width: 38% !important;
    display: inline-block !important;
}
#btnClear {
    background-color: #007bff;
    width: 38% !important;
    display: inline-block;
}

