nav{
  display: flex;
  background:rgba(103, 10, 10, 0.834);
  height: 12vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px ;
  position: fixed;
  top: 0;
  z-index: 1;
  
   }
   
   nav{
    background-size: cover;
   }


  nav ul{
      float: right;
      margin-right: 20px;
      display: flex;
    }
  nav ul li{
      line-height: 90%;
      margin: 0 5px;
      display: inline-block;
    }
  nav ul li a{
      color: white;
      font-size: 1.244vw;
      padding: 7px 13px;
      border-radius:3px ;
      text-transform: uppercase;
    }

    nav ul li{
      margin: 0 10px;
    }

    nav ul li a{
      padding: 10px;
      font-size: 1.5vw;
    }
  
    a{
      text-decoration: none;
    }
    a:hover{
      background-color:rgba(229, 148, 123, 0.768);
    }
    .icons {
      text-decoration: none;
      color: #fff;
      font-size: 2vw;
      padding-left: 20px;
      padding-top: 2px;
      text-align: center;
      letter-spacing: 10px;

  }

  .icons :hover{
   color:black;
  }

  footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgba(103, 10, 10, 0.834);
      color: #fff; 
      font-size: 1.024vw;   
      line-height: 20px;
      height: 18vh;        
    }
           
     
      
        .footer1{
          width: 90%;
          height: 90%;
          margin: auto;
          display: flex;
          justify-content: space-between;
        }
        
        .footer-content{
          padding: 10px;
          color: #fff;
        }
        .footer-content{
          text-align: center;
        }
        .contentlinks a{
          color: #fff;
        }
        
        .we a{
          color: #fff;
        }
    
        footer sub{
          font-size: 1.463vw;
          color: white;
          font: solid;
          font-weight: bold;
        }

      body {
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1.463vw;
          background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
          color: #fff; 
          overflow: auto;
      }

      #svg_container{
          position: relative;
          margin-top: 2vh;
          margin-left: auto;
          margin-right: auto;
          max-width: 90%;
          height: 60vh;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: auto;
          background-image: url("homepagegif1.gif");
      }

      svg {
          max-width: 100%;
          max-height: 100%;
      }

      
      #SSrect rect:hover{
          fill: aqua;
      }
      h1{
          text-align: center;
          font-size: 2.5vw;
          color: #54dfdd; 
      }
      .text{
          font-weight: bold;
          font-size: 5vh;
          font-family:Arial, Helvetica, sans-serif;
          fill: #fff; 
      }
      #Homerect rect:hover{
          fill: purple ;
      }
      .cPage:hover{
          fill:  #f6ef24;
      }
      :focus {
          outline: 10px solid rgb(203, 247, 25);
      }
      .sitemap_title{
          margin-top: 14vh;
          height: 6vh;
      }

      
  
  .gallery {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 20vw;
      height: auto; 
      background-color: #FFFDD0;
      border-radius: 5px;
      margin-bottom: 20px;
      position: absolute; 
      top: 50%; 
      left: 15%; 
      transform: translate(-50%, -50%);
      z-index: 1;
  }
  
  .gallery .gallery_text {
      font-size: 1.5vw;
      color: #000;
      margin-bottom: 10px;
  }
  
  .gallery img {
      border-radius: 5px;
      width: 100%;
      height: auto;
  }

  .sitemap {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: auto; 
    background-color: #FFFDD0;
    border-radius: 5px;
    margin-bottom: 20px;
    position: absolute; 
    top: 70%; 
    left: 15%; 
    transform: translate(-50%, -50%);
    z-index: 1;
}

  .sitemap .sitemap_text{
    font-size: 1.5vw;
    color: #000;
    margin-bottom: 10px;      
  }

  .sitemap img{
    border-radius: 5px;
    width: 100%;
    height: auto;
  }

  .userProfile{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: auto; 
    background-color: #FFFDD0;
    border-radius: 5px;
    margin-bottom: 20px;
    position: absolute; 
    top: 30%; 
    left: 15%; 
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .userProfile .user_text{
    font-size: 1.5vw;
    color: #000;
    margin-bottom: 10px;
  }

  .userProfile img{
    border-radius: 5px;
    width: 100%;
    height: auto;
  }

  .shop{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: auto; 
    background-color: #FFFDD0;
    border-radius: 5px;
    margin-bottom: 20px;
    position: absolute; 
    top: 50%; 
    left: 85%; 
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .shop .shop_text{
    font-size: 1.5vw;
    color: #000;
    margin-bottom: 10px;
  }

  .shop img{
    border-radius: 5px;
    width: 100%;
    height: auto;
  }

  .team {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: auto; 
    background-color: #FFFDD0;
    border-radius: 5px;
    margin-bottom: 20px;
    position: absolute; 
    top: 70%; 
    left: 85%; 
    transform: translate(-50%, -50%);
    z-index: 1;
}

  .team .team_text{
    font-size: 1.5vw;
    color: #000;
    margin-bottom: 10px;      
  }

  .team img{
    border-radius: 5px;
    width: 100%;
    height: auto;
  }

  .feedback {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: auto; 
    background-color: #FFFDD0;
    border-radius: 5px;
    margin-bottom: 20px;
    position: absolute; 
    top: 30%; 
    left: 85%; 
    transform: translate(-50%, -50%);
    z-index: 1;
}

  .feedback .feedback_text{
    font-size: 1.5vw;
    color: #000;
    margin-bottom: 10px;      
  }

  .feedback img{
    border-radius: 5px;
    width: 100%;
    height: auto;
  }

  .home {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: auto; 
    background-color: #FFFDD0;
    border-radius: 5px;
    margin-bottom: 20px;
    position: absolute; 
    top: 50%; 
    left: 15%; 
    transform: translate(-50%, -50%);
    z-index: 1;
}

  .home .home_text{
    font-size: 1.5vw;
    color: #000;
    margin-bottom: 10px;      
  }

  .home img{
    border-radius: 5px;
    width: 100%;
    height: auto;
  }

  .splashScreen{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: auto; 
    background-color: #FFFDD0;
    border-radius: 5px;
    margin-bottom: 20px;
    position: absolute; 
    top: 50%; 
    left: 85%; 
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .splashScreen .splash_text{
    font-size: 1.5vw;
    color: black;
    margin-bottom: 10px;
  }

  .splashScreen img{
    border-radius: 5px;
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 600px) {
      nav ul {
          flex-direction: row;
          align-items: center;
      }
  
      nav ul li {
          margin: 10px 0;
      }
  
      nav ul li a {
          padding-left: 0.7vw;
      }
  
      .icons {
          font-size: 4vw;
      }
  
      footer {
          font-size: 1.5vw;
      }
  
      body {
          font-size: 3vw;
      }
  }
 

  .logo img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100px;
}

 
@media screen and (max-width: 300px) {
  nav ul li a {
      font-size: 0.5vw;  
  }
}

@media screen and (max-height:620px){
  footer{
    font-size: 1.5vh;
  }
  footer sub{
    font-size: 2.1vh;
  }
  nav ul li a{
    font-size: 1.8vh;
  }
  h1{
    font-size: 3.5vh;
  }
  .icons{
    font-size: 3vh;
  }
  .gallery, .sitemap, .shop, .feedback, .team, .userProfile, .home, .splashScreen{
    height: 25vh;
    background-color: #FFFDD0;
  }
  .gallery .gallery_text, .sitemap .sitemap_text, .userProfile .user_text, .shop .shop_text, .team .team_text, .feedback .feedback_text,  .home .home_text, .splashScreen .splash_text{
    font-size: 4vh;
  }
  .gallery img, .sitemap img, .userProfile img, .shop img, .team img, .feedback img,  .home img, .splashScreen img{
    height: 21vh;
  }
}

@media screen and (max-height:600px){
  footer{
    font-size: 1vh;
  }
}

@media screen and (max-height:540px){
  .logo img{
    height: 10vh;
  }
}




  

    



