
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(9, 9, 59);
    color: white;
    background-image: url(photo/BG22.gif);
    background-position: center;
    background-size: cover;
    

}
a{
    color: azure;
}


.photo{
    display: block;
    width: 250px;
    height: 300px;
    border-radius: 20px;
    padding-bottom: 5px;
}

nav{
    background:rgba(103, 10, 10, 0.834);
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px ;
    position: fixed;
    top: 0;
    z-index: 1;
    
     }
     
     nav{
      background-size: cover;
     }
  
  
    nav ul{
        float: right;
        margin-right: 20px;
      }
    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
      }
    nav ul li a{
        color: white;
        font-size: 17px;
        padding: 7px 13px;
        border-radius:3px ;
        text-transform: uppercase;
      } 
    
      a{
        text-decoration: none;
      }
      a:hover{
        background-color:rgba(229, 148, 123, 0.768) ;
      }
      .icons {
        text-decoration: none;
        color: #fff;
        font-size: 23px;
        padding-left: 20px;
        padding-top: 2px;
        text-align: center;
        letter-spacing: 10px;

    }

    .icons :hover{
     color:black;
    }

    footer{
      background: rgba(103, 10, 10, 0.834);
    }
    
    .footer1{
      width: 1140px;
      margin: auto;
      display: flex;
      justify-content: center;
    }
    
    .footer{
      width: 33.3%;
    }
    .footer-content{
      width: 190px;
      margin: auto;
      padding: 7px;
      color: #fff;
    }
    .footer-content{
      text-align: center;
    }
    .contentlinks a{
      color: #fff;
    }
    
    .we a{
      color: #fff;
    }
    
    
    




.container{
    display: grid;
    place-items: center;
    margin-inline: 25px;
    padding-block: 100px;
}

.card_container{
    display: flex;
    row-gap: 60px;
}

h1{
    font-size: 80px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: auto;
}

.card_article{
    position: relative;
    overflow: hidden;
    margin: 25px;
     
}

.card_img{
    width: 300px;
    border-radius: 25px;
}

.card_data{
    width: 210px;
    background-color: rgba(48, 67, 90, 0.7);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.9);
    border-radius: 24px;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
    
}    

.card_description{
    display: block;
    font-size: larger;
    margin-bottom: 5px;
    color: black;
    font-weight: bolder;
}
.card_title {
    font-size: larger;
    color: black;
    margin-bottom: .75rem;
}

/* Naming animations in hover */

.card_article:hover .card_data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}
.card_article:hover {
    animation: remove-overflow 2s forwards;
}

/* Card animation */
@keyframes show-data {
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }
  
  




